<footer id="footer">
    <div class="container text-center">
        <img src="https://careers.apollopharmacy.app/dev/assets/themes/front/images/logo.png" alt="icon">
        <div class="copy-text mt-4 text-muted"><small>&copy; 2020-21. APOLLO PHARMACIES LTD. ALL RIGHTS
                RESERVED.</small></div>
    </div>
</footer>
<script type="text/javascript"
    src="https://careers.apollopharmacy.app/dev/assets/themes/ap_js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"
    src="https://careers.apollopharmacy.app/dev/assets/themes/ap_js/bootstrap-select.min.js"></script>
<script type="text/javascript"
    src="https://careers.apollopharmacy.app/dev/assets/themes/ap_js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="https://careers.apollopharmacy.app/dev/assets/themes/ap_js/custom.js"></script>


</body>

</html>