<%- include('header'); -%>
   
    <section class="section hiring-assesment">
        <div class="container">
            <div class="thanks text-center">
                <h2>Thank You</h2>
                <h3>"You have completed your online assessment”.</h3>
                <div class="sec-pic mb-5"><img src="#"
                        alt=""></div>
                <p>Your job application will now be reviewed for our current job vacancies and if your candidature is found
                    suitable, an interview invite will be sent to your registered email address and mobile number
                    accordingly.</p>
                <div class="share-icon pt-5">
                    <p class="d-inline-block mb-3"><strong>Share this job opportunity with your friends</strong></p>
                    <ul>
                        <li><a href="https://www.facebook.com/"
                                target="_blank" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://api.whatsapp.com" target="_blank" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="Whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                        <li><a href="https://www.linkedin.com" target="_blank" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

<%- include('footer'); -%>